*{
    padding: 0px;
    margin: 0px;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-items{
    display: flex;
}

.menu-items li{
    list-style: none;
    padding: 15px;
    margin: 5px;
}

.menu-items li:hover{
    color:green;
    cursor:grab;
}

.link-btn{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    font-weight: 700px;
    color: white;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 5px;
    /* margin-top: 65px; */
}

.top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding-left: 20px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 20px;
    margin:20px 0;
}

.top-right-banner img{
    width: 100%;
}

.big-para{
    font-size: 60px;
    text-align: center;
    padding: 40px;
}

.packages{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 50px;
}

.pack1{
    height:300px ;
    width:400px ;
    border: 1px solid gray;
    box-shadow: 10px 10px 2px gray;
    text-align: center;
    font-size: 18px;
    padding-top: 8px;
    border-radius: 3px;

}
.img-icon{
    width:30%;
}

.pack1:hover{
    cursor: pointer;
    border: 1px solid blue;
    margin-top: -20px;
    transition: .8ms;
}

